* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*[contenteditable=true] {
    outline: none;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Quicksand', Verdana, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-size: cover;
    background-position: center;
    /*background-image: url("../img/day.jpg");*/
    height: 100vh;

    overflow: hidden;

    text-shadow: 0 0 25px black;
    transition: background-image 3s ease-in-out;

    color: white;
}

/*CONTENT*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    position: relative;
    display: flex;
}

.time__current {
    font-size: 15rem;
    line-height: 15rem;
    text-align: center;
}

.time__popup {
    display: flex;
    flex-direction: column;

    top: calc(100% + 20px);
    left: -15px;
}

.time__popup:before {
    content: '';
    width: 20px;
    height: 20px;
    background: white;

    position: absolute;
    /*z-index: 3;*/

    bottom: calc(100% - 14px);
    left: 24px;

    transform: rotate(45deg);
}

.time__format {
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 2rem;
    cursor: pointer;
    z-index: 4;
}

.time__format:hover, .time__format_selected {
    background-color: #e6eef0;
}

.time__format:not(:last-child) {
    border-bottom: 1px solid #e6eef0;
}

.time__menu-wrapper {
    position: absolute;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    left: calc(100% + 30px);
}

.time__menu:not(.time__popup) {

    cursor: pointer;
}

/*MENU*/

.menu {
    position: relative;
    width: 40px;
    height: 40px;
    /*transition: opacity 200ms ease-out;*/
}

.menu__item {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.menu:hover .menu__outer {
    opacity: 0.3;
}

.menu__inner {
    display: flex;
    column-gap: 3px;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.time:hover .menu__inner, .menu_popuped .menu__inner{
    opacity: 1;
}

/*CIRCLE*/

.circle {
    border-radius: 50%;
    background: #e6eef0;

    box-shadow: 0 0 25px black;
}

.circle_big {
    width: 40px;
    height: 40px;
    background: #f0eeeb;

    opacity: 0;
}

.circle_small {
    width: 7px;
    height: 7px;
}

.content__welcome {
    display: flex;
    font-size: 5rem;
    margin-bottom: 30px;
}

.content__welcome > span {
    display: inline-block;
}

.content__name {
    min-width: 50px;
    text-align: center;
    margin-left: 20px;
    border-bottom: 1px solid transparent;
}

.content__name:focus {
    border-bottom: 1px solid white;
}

.content__purpose > h2 {
    font-size: 4rem;
    font-weight: 500;
}

/*PURPOSE*/

.purpose__title {
    margin-bottom: 10px;
}

.purpose__focus {
    text-align: center;
    border-bottom: 1px solid white;
}

/*QUOTE*/

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;

    font-size: 2rem;
}

.quote__text {
    text-align: center;
    margin-bottom: 7px;
}

.quote__next {
    width: 0;
    height: 0;

    opacity: 0;
    transition: all .5s ease-in-out;

    cursor: pointer;
    background: url("../img/forward-solid.svg");
}

.quote:hover .quote__next {
    width: 32px;
    height: 32px;
    margin-top: 10px;

    opacity: 1;
}

.quote__next:hover {
    background: url("../img/forward-solid_hover.svg");
}

/*HEADER*/

.header {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header__weather {
    position: relative;

    flex-basis: 150px;
    flex-shrink: 0;
}

.header__todo {
    position: relative;

    margin-top: 10px;
    margin-left: 20px;
}

/*POPUP*/

.popup {
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    text-shadow: none;

    width: fit-content;
    height: fit-content;

    background: white;
    color: black;

    cursor: auto;
}

.popup_padding_light {
    padding: 10px;
}

.popup_hidden {
    display: none;
}

/*WEATHER*/

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.weather__content {
    display: flex;
    align-items: center;
}

.weather__content {
    display: flex;
    align-items: center;
}

.weather__temp-wrapper {
    display: flex;
    align-items: flex-start;
}

.weather__image_size_small {
    width: 30px;
}

.weather__temp {
    font-size: 4.2rem;
    line-height: 3.5rem;
}

.weather__temp_font_small {
    font-size: 1.3rem;
    line-height: 1.3rem;
    /*line-height: 3.5rem;*/
}

.weather__temp_font_big {
    font-size: 7rem;
    line-height: 6rem;
    /*line-height: 3.5rem;*/
}

.weather__celsius {
    display: inline-block;
    width: 8px;
    height: 8px;

    margin-left: 4px;
}

.weather__celsius_size_big {
    margin-top: 5px;

    width: 12px;
    height: 12px;
}

.weather__celsius_size_small {
    width: 4px;
    height: 4px;
}

.weather__celsius_light {
    background: url("../img/circle.svg") no-repeat center;
}

.weather__celsius_dark {
    background: url("../img/circle_blacked.svg") no-repeat center/cover;
}

.weather__city-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather__city-search:hover .weather__geolocation {
    background: url("../img/geoposition_dark.svg") center/cover;
}

.weather__city {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;

    flex-basis: 100%;
}

.weather__geolocation {
    background: url("../img/geoposition.svg") center/cover;
    width: 20px;
    height: 20px;

    transition: all 300ms ease-in;

    cursor: pointer;
}

.weather__city_font_big {
    font-size: 3.5rem;
}

.weather__description {
    font-size: 1.6rem;
    padding-left: 3px;
}

.weather__description_hidden {
    display: none;
}

.weather__popup {
    top: calc(100% + 15px);
    right: 5px;
}

.weather__popup:before {
    content: '';
    width: 20px;
    height: 20px;
    background: white;

    position: absolute;
    z-index: 3;

    bottom: calc(100% - 12px);
    right: 60px;

    transform: rotate(45deg);
}

.weather__forecast {
    margin-top: 20px;
    padding: 10px 10px 0;
    border-top: 1px solid #e6eef0;
}

/*FORECAST*/

.forecast {
    display: flex;
    column-gap: 5px;
}

.forecast__day {
    list-style: none;
    border-radius: 2px;
}

/*DAY*/

.day {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
}

.day:hover, .day_selected {
    background: #e6eef0;
}

.day__name {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
}

/*TODO*/

.todo {
    cursor: pointer;
}

.todo__popup {
    top: calc(100% + 15px);
    left: -10px;

    width: 300px;
}

.todo__popup:before {
    content: '';
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    z-index: 3;

    bottom: calc(100% - 12px);
    left: 20px;

    transform: rotate(45deg);
}

.todo__title {
    font-size: 2rem;
    font-weight: 400;
}

.todo__title_font_big {
    font-size: 3rem;
    font-weight: 400;
}

.todo__list {
    margin-top: 15px;
}

.todo__list-item {
    list-style: none;
}

.todo__list-item:not(:first-child) {
    margin-top: 5px;
}

.todo__list-item:last-child {
    margin-bottom: 20px;
}

.todo-item {
    display: flex;
    align-items: flex-start;
}

.todo-item__checkbox {
    transform: scale(1.2);
    margin-top: 8px;
    margin-right: 10px;
}

.todo-item__task {
    width: 230px;
    font-size: 2rem;
}

.todo-item__task_checked {
    text-decoration: line-through;
    color: #878a91;
}

.todo-item__delete {
    width: 17px;
    height: 17px;

    margin-top: 6px;

    background: url("../img/delete.svg");
    cursor: pointer;
}

.todo__new {
    width: 100%;
    outline: none;
    border: none;

    font-family: 'Quicksand', Verdana, sans-serif;
    font-size: 2rem;
}